<div th:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml" class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Jabatan Table</h4>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <a th:href="@{~/jabatan/form}" class="btn btn-success mr-2">Add</a>
                            </div>
                            <div class="col-md-4">
                                <input th:value="${search}" id="search-key" type="text" class="form-control pull-right" placeholder="Search">
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th class="action">Action</th>
                                <th>Jabatan</th>
                                <th>CreatedBy</th>
                                <th>CreatedDate</th>
                                <th>ModifiedBy</th>
                                <th>ModifiedDate</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${page.content.empty}">
                                <td colspan="5"> No Data Available</td>
                            </tr>
                            <tr th:each="row : ${page.content}">
                                <td class="action">
                                    <div>
                                        <a th:href="@{~/jabatan/form?id=} + ${row.jabatanId}" class="btn btn-warning mr-2"><i class="fa fa-edit"></i></a>
                                        <a href="javascript:void(0)" th:data-id="${row.jabatanId}" th:data-user="${row.jabatanId}" onclick="deleteConfirm(this.getAttribute('data-id'), this.getAttribute('data-user'));" class="btn btn-danger"><i class="fa fa-window-close"></i></a>
                                    </div>
                                </td>
                                <td th:text="${row.jabatanName}"></td>
                                <td th:text="${row.createdBy}"></td>
                                <td th:text="${row.createdDate}"></td>
                                <td th:text="${row.modifiedBy}"></td>
                                <td th:text="${row.modifiedDate}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="pageable pull-right"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">

        function deleteConfirm(id, user, product){
            swal({
                title: "Are you sure delete " + id + "?",
                text: "Once deleted, you will not be able to recover this data!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: /*[[@{~/jabatan/delete}]]*/,
                        type: "POST",
                        data: JSON.stringify({jabatanId: id}),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function(){
                            document.location.reload(true);
                        }
                    });
                } else {
                    swal("Your row is safe!");
                }
            });
        };

        const keySearch = $('#search-key').val();
        const totalPage = /*[[${page.totalPages}]]*/;
        var startPage = /*[[(${page.number} + 1)]]*/;

        if ((totalPage + 1) > 1 && totalPage < startPage) {
            window.location.replace(/*[+[[@{~/jabatan}]] + '?page=' + (totalPage)+]*/);
        } else {
            $('.pageable').twbsPagination({
                totalPages: (totalPage == 0 ? totalPage + 1 : totalPage),
                startPage:  startPage,
                initiateStartPageClick: false,
                onPageClick: function (evt, page) {
                    if (keySearch == "") {
                        window.location.replace(/*[+[[@{~/jabatan}]] + '?page=' + (page)+]*/);
                    } else {
                        window.location.replace(/*[+[[@{~/jabatan}]] + '?page=' + (page)+'&search='+keySearch+]*/);
                    }
                }
            });
        }

        $('#search-key').keydown(function(e) {
            var key = e.which;
            if (key == 13) {
                var keySearch = $(this).val();
                if (keySearch !== "") {
                    window.location.replace(/*[+[[@{~/jabatan}]] + '?search=' + keySearch+]*/);
                } else {
                    window.location.replace(/*[+[[@{~/jabatan}]] +]*/);
                }
            }
        });

    </script>
</div>